.imageupload {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  /* width: 50%; */
  /* margin-left: auto;
    margin-right: auto;
   */
  /* background-color: white;
    border-top: 1px solid lightgray; */
  /* position: fixed;
    bottom: 0; */
}

.imageupload__progress {
  width: 100%;
}
