.imageupload {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.imageupload__progress {
  width: 100%;
}

.imageupload input {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 5px 5px;
  width: 100%;
}
